 // Bourbon & Neat
@import '../../bower_components/bourbon/dist/bourbon';
@import "../../base/base";
@import '../../bower_components/neat/app/assets/stylesheets/neat';

// Custom Styles
body {
  @include outer-container;
  background:url('../images/CookBig.jpg');
  /* background:black; */
  background-size: 100%;
  font-family: 'Comfortaa', cursive;
  color: #333;
}
header{
  background-color:black;
  overflow:auto;
  span{
    display: inline-block;
    margin-top: 5px;
    margin-left: 10px;
  }
  button{
    @include button;
    float:right;
    margin:1px;
  }


}
.hero-unit {
@include span-columns(12);
  margin: 50px auto 0 auto;
  /* width: 600px; */
  font-size: 18px;
  font-weight: 200;
  line-height: 30px;
  background-color:HSLA(0, 0%, 95%, .9);
  color:black;
  border-radius: 6px;
  padding: 60px;
  h1 {

    font-size: 60px;
    line-height: 1;
    letter-spacing: -1px;
  }
  button{
    @include button;
    float:left;
    clear:both;
  }
  img{
    height:250px;
  }

  #login{
    button{
      float:right;
      margin:2px;
    }
  }
}




//Profile///////////////
#cook-profile{
  overflow:auto;
   .profileBtn{
    a{
      float:right;
      margin:3px;
    }
  }
  .info{
    @include span-columns(6);
    float:left;
  }
  .about{
    @include span-columns(6);
    float:left;
  }
  img{
    float:right;
    margin-bottom:10px;
  }
  .all-dishes{
    @include span-columns(12);
    overflow:auto;
    h3{
      margin-bottom:20px;
    }
    .app{
      @include span-columns(12);
      float:left;
      display:block;
    }
    .entre{
      @include span-columns(12);
      float:left;
      display:block;
    }
    .dessert{
      @include span-columns(12);
      float:left;
      display:block;
    }
  }
  ul{
    @include span-columns(12);
    .dish{
      /* @include span-columns(12); */
      list-style:none;
      overflow:hidden;
      /* background-color:HSLA(0, 0%, 95%, .9); */
      border-top-style:solid;
      border-bottom-style:solid;
      border-width:1px;
      margin:10px;
      img{
        float:right;
        margin-top: -197px;
        margin-bottom:10px;
      }
      .dish-info{
        @include span-columns(6);
        float:left;
        span{
          display:block;
        }
        p{
          margin-left:4em;
          height: 105px;
        }
      }
      .dish-btn{
        @include span-columns(6);
        overflow:auto;
        float:left;
        clear:left;
        button{
          @include span-columns(3);
          display:inline-block;
          float:left;
          .deleteBtn{
            float:right;
          }

        }
      }
    }
  }
}
.cook-list{
  @include span-columns(12);
  list-style: none;
  li{
    @include span-columns(12);
    border-top-style:solid;
    border-bottom-style:solid;
    border-width:1px;
    margin:3px;
    .list-info{
    @include span-columns(6);
    overflow:auto;
    }

    .cook-pic{
      float:right;
      height:110px;
      margin-top:1px;
    }

  }
}

.single-info{
  @include span-columns(6);
  float:left;

}
.single-about{
  @include span-columns(6);
  /* float:left; */
}
.single-pic{
  @include span-columns(6);

}

.single-all-dishes{
  @include span-columns(12);
  margin-top:1px;
  overflow:auto;
  h3{
    margin-bottom:20px;
  }


}
ul{
  @include span-columns(12);
  .dish{
    /* @include span-columns(12); */
    list-style:none;
    overflow:hidden;
    /* background-color:HSLA(0, 0%, 95%, .9); */
    border-top-style:solid;
    border-bottom-style:solid;
    border-width:1px;
    margin:10px;
    img{
      float:right;
      margin-top: 10px;
      margin-bottom:10px;
    }
    .dish-info{
      @include span-columns(6);
      float:left;
      span{
        display:block;
      }
      p{
        margin-left:4em;
        height: 105px;
      }
    }
    .clicked-menu{
     .input{
        @include span-columns(1);
      }
    }
    .dish-btn{
      @include span-columns(6);
      overflow:auto;
      float:left;
      clear:left;
      button{
        @include span-columns(3);
        display:inline-block;
        float:left;
        .deleteBtn{
          float:right;
        }

      }
    }
  }
}
