<aside>
  <button ng-click="userLogOut()">log out</button>
  <a href="#/newdish"><button>add dish</button></a>
  <span>Username: {{userInfo.username}}</span>
  <span>Name: {{userInfo.name}}</span>
  <span ng-show="userInfo.special">Speciality: {{user.special}}</span>
  <h2>dishes</h2>

  <ul ng-repeat="dish in dishes">
    <li>
      <a href="#/editDish/{{dish.objectId}}"><button>edit</button></a>
      <button ng-click="deleteDish(dish.objectId)">delete</button>
      <span ng-show"dish">{{dish.title}}</span>
      <p>{{dish.description}}</p>
      <span>{{dish.pricePP| currency}} per person</span>

      <img ng-show="dish.picture"ng-src="{{dish.picture}}" alt="">
    </li>
  </ul>


</aside>

<div>

</div>
