<div id="cook-profile">
  <!-- <button ng-click="userLogOut()">log out</button> -->
  <div class="profileBtn">
    <a href="#/newdish"><button>add dish</button></a>
    <a href="#/editProfile"><button>edit profile</button></a>
  </div>

  <div class="info">
    <h3> {{userInfo.firstName}} {{userInfo.lastName}}</h3>

    <br>
    <span>Username: {{userInfo.username}}</span>
    <br>
    <!-- <span ng-show="userInfo.special">Speciality: {{user.special}}</span> -->
  </div>
  <div class="prof-pic">
    <img ng-src="{{userInfo.picture}}" alt="">
  </div>

  <div ng-if="userInfo.about" class="about">
    <h2>about:</h2>
    <p>{{userInfo.about}}</p>

  </div>


  <div class="all-dishes">

    <div class="app">
      <h3>Appetizers:</h3>
      <ul >
        <li ng-repeat="dish in apps" class="dish">
          <div class="dish-info">
            <h4>{{dish.title}}</h4>
            <p>{{dish.description}}</p>
            <span>Feeds:{{dish.feeds}}</span>
            <span>{{dish.pricePP| currency}} per order</span>

          </div>
          <div class="dish-btn">
            <a href="#/editDish/{{dish.objectId}}"><button>edit</button></a>
            <button class="deleteBtn" ng-click="deleteDish(dish.objectId)">delete</button>
          </div>
          <img ng-show="dish.picture"ng-src="{{dish.picture}}" alt="">


        </li>
      </ul>
    </div>

  <div class="entre">
    <h3>Entres:</h3>
    <ul >
      <li ng-repeat="dish in entres" class="dish">
        <div class="dish-info">

          <h4>{{dish.title}}</h4>
          <p>{{dish.description}}</p>
          <span>Feeds:{{dish.feeds}}</span>
          <span>{{dish.pricePP| currency}} per order</span>

        </div>
        <div class="dish-btn">
          <a href="#/editDish/{{dish.objectId}}"><button>edit</button></a>
          <button ng-click="deleteDish(dish.objectId)">delete</button>
        </div>
        <img ng-show="dish.picture"ng-src="{{dish.picture}}" alt="">

      </li>
    </ul>
  </div>

  <div class="dessert">
    <h3>Desserts:</h3>
    <ul >
      <li ng-repeat="dish in desserts" class="dish">
        <div class="dish-info">
          <h4>{{dish.title}}</h4>
          <p>{{dish.description}}</p>
          <span>Feeds:{{dish.feeds}}</span>
          <span>{{dish.pricePP| currency}} per order</span>
        </div>
        <div class="dish-btn">
          <a href="#/editDish/{{dish.objectId}}"><button>edit</button></a>
          <button ng-click="deleteDish(dish.objectId)">delete</button>
        </div>
        <img ng-show="dish.picture"ng-src="{{dish.picture}}" alt="">


      </li>
    </ul>
  </div>

  </div>





</div>
