<div class="single-info">
  <h3>{{singleCook.firstName}} {{singleCook.lastName}}</h3>
  <br>
  <span>Username: {{singleCook.username}}</span>
  <br>
  <span>e-mail:
    <a href="mailto:{{singleCook.email}}?Subject=Will%20you%20cook%20for%20me?">
      {{singleCook.email}}
    </a></span>

</div >
<div class="single-pic">
  <img class="single-pic" ng-src="{{singleCook.picture}}"/>
</div>
<div class="single-about">
  <h2>About</h2>
  <p>{{singleCook.about}}</p>
</div>









<div class-"single-all-dishes">
  <h2>Dishes</h2>
  <div class="app">
    <h3>Appetizers</h3>
    <ul>
      <li ng-repeat="dish in apps"class="dish">
        <div class="dish-info">
          <h4>{{dish.title}}</h4>
          <p>{{dish.description}}</p>
          <span>Feeds:{{dish.feeds}}</span>
          <span>{{dish.pricePP| currency}} per order</span>
        </div>
        <img class="pic" ng-show="dish.picture"ng-src="{{dish.picture}}" alt="">
        <span>select</span><input type="checkbox"ng-model="dish.checked">
         <div ng-if="dish.checked">
        <span>amount:</span>
        <input type="number" ng-model="dish.quant"placeholder="quantity" min="0">
        <span ng-if="dish.quant">for<span>{{dish.quant * dish.pricePP | currency }}</span></span>
        </div>
      </li>
    </ul>
  </div>
  <div class="entre">
    <h3>Entres</h3>
    <ul>
      <li ng-repeat="dish in entres" class="dish">
      <div class="dish-info">
          <h4>{{dish.title}}</h4>
          <p>{{dish.description}}</p>
          <span>Feeds:{{dish.feeds}}</span>
          <span>{{dish.pricePP| currency}} per order</span>
        </div>
        <img class="pic" ng-show="dish.picture"ng-src="{{dish.picture}}" alt="">
        <span>select</span><input type="checkbox"ng-model="dish.checked">
      <div ng-if="dish.checked">
          <span>amount:</span>
          <input type="number" ng-model="dish.quant"placeholder="quantity" min="0">
          <span ng-if="dish.quant">for<span>{{dish.quant * dish.pricePP | currency }}</span></span>
        </div>
      </li>
    </ul>
  </div>

  <div class="dessert">
    <h3>Desserts</h3>
    <ul>
      <li ng-repeat="dish in desserts" class="dish">
        <div class="dish-info">
          <h4>{{dish.title}}</h4>
          <p>{{dish.description}}</p>
          <span>Feeds:{{dish.feeds}}</span>
          <span>{{dish.pricePP| currency}} per order</span>
        </div>
        <img class="pic" ng-show="dish.picture"ng-src="{{dish.picture}}" alt="">
        <span>select</span><input type="checkbox"ng-model="dish.checked">
          <div ng-if="dish.checked">
            <span>amount:</span>
            <input type="number" ng-model="dish.quant"placeholder="quantity" min="0">
            <span ng-if="dish.quant">for<span>{{dish.quant * dish.pricePP | currency }}</span></span>
        </div>

        <br>
      </li>
    </ul>
    <br>
</div>
<div class="foot-buttons">
  <button ng-click="calc(dishes)">calculate</button>
  <!-- <span>Date of event:</span>
  <input type="datetime-local" ng-model="dish.date"> -->
  <button>send request</button>
</div>
