<div class="single-all">
  <div class="single-top">
    <div class="single-info">
      <h3>{{singleCook.firstName}} {{singleCook.lastName}}</h3>
      <br>
      <span>Username: {{singleCook.username}}</span>
      <br>
      <span>e-mail:
        <a href="mailto:{{singleCook.email}}?Subject=Will%20you%20cook%20for%20me?">
          {{singleCook.email}}
        </a>
      </span>
    </div >
    <div class="single-pic">
      <img class="single-pic" ng-src="{{singleCook.picture}}"/>
    </div>
    <div class="single-about">
      <h2>About</h2>
      <p>{{singleCook.about}}</p>
    </div>

  </div>

  <h2>Dishes</h2>
  <br>
  <br>
  <div class-"single-all-dishes">

    <div class="app">
      <h3>Appetizers</h3>
      <ul>
        <li ng-repeat="dish in apps"class="dish">
          <div class="dish-info">
            <h4>{{dish.title}}</h4>
            <p>{{dish.description}}</p>
            <span>Feeds:{{dish.feeds}}</span>
            <span>{{dish.pricePP| currency}} per order</span>
          </div>
          <div class="pic">
            <img  ng-show="dish.picture"ng-src="{{dish.picture}}" alt="">
          </div>
          <div class="selects">
            <span>select</span><input type="checkbox"ng-model="dish.checked">
            <div class="clicked-menu" ng-if="dish.checked">
              <input class="input" type="number" ng-model="dish.quant" min="0">
              <span ng-if="dish.quant">for {{dish.quant * dish.pricePP | currency }}</span>
            </div>
          </div>
        </li>
      </ul>
    </div>

    <div class="entre">
      <h3>Entres</h3>
      <ul>
        <li ng-repeat="dish in entres" class="dish">
          <div class="dish-info">
            <h4>{{dish.title}}</h4>
            <p>{{dish.description}}</p>
            <span>Feeds:{{dish.feeds}}</span>
            <span>{{dish.pricePP| currency}} per order</span>
          </div>
          <div class="pic">
            <img  ng-show="dish.picture"ng-src="{{dish.picture}}" alt="">
          </div>
          <div class="selects">
            <span>select</span><input type="checkbox"ng-model="dish.checked">
            <div class="clicked-menu" ng-if="dish.checked">
              <input class="input" type="number" ng-model="dish.quant" min="0">
              <span ng-if="dish.quant">for {{dish.quant * dish.pricePP | currency }}</span>
            </div>
          </div>
        </li>
      </ul>
    </div>

    <div class="dessert">
      <h3>Desserts</h3>
      <ul>
        <li ng-repeat="dish in desserts" class="dish">
          <div class="dish-info">
            <h4>{{dish.title}}</h4>
            <p>{{dish.description}}</p>
            <span>Feeds:{{dish.feeds}}</span>
            <span>{{dish.pricePP| currency}} per order</span>
          </div>
          <div class="pic">
            <img  ng-show="dish.picture"ng-src="{{dish.picture}}" alt="">
          </div>
          <div class="selects">
            <span>select</span><input type="checkbox"ng-model="dish.checked">
            <div class="clicked-menu" ng-if="dish.checked">
              <input class="input" type="number" ng-model="dish.quant" min="0">
              <span ng-if="dish.quant">for {{dish.quant * dish.pricePP | currency }}</span>
          </div>
          </div>
        </li>
      </ul>
    </div>
    <div class="foot-buttons">
      <button ng-click="calc(dishes)">calculate</button>
      <span>total: {{total | currency}}</span>
      <!-- <span>Date of event:</span>
      <input type="datetime-local" ng-model="dish.date"> -->
      <button>send request</button>
    </div>

</div>
